<article class="blogpost-card">
  <img class="blogpost-card__image" src="images/post1.png" alt="caring a dog" />
  <div class="blogpost-card__content">
    <h3 class="blogpost-card__heading">
      As a veterinarian and lover of animals
    </h3>
    <time class="blogpost-card__date" datetime="09-02-2-24">Feb 09,2024</time>
    <p class="blogpost-card__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, odit
      suscipit. Consequuntur fugit ut harum.
    </p>
    <a href="#" class="link">Read More</a>
  </div>
</article>
