<article class="media-card">
  <img
    src="images/vetenarian-svc.png"
    alt="a vaccinating dog"
    class="media-card__image"
  />
  <h3 class="media-card__heading">Veterinarian</h3>
  <p class="media-card__description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas sed id,
    doloremque aliquam hic assumenda.
  </p>
</article>
<article class="media-card">
  <img
    src="images/vetenarian-svc.png"
    alt="a vaccinating dog"
    class="media-card__image"
  />
  <h3 class="media-card__heading">Veterinarian</h3>
  <p class="media-card__description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas sed id,
    doloremque aliquam hic assumenda.
  </p>
</article>
